.vs
*.pdb
*.ilk
*.user
*.vcxproj.FileListAbsolute.txt

AeroMap/x64
AeroMap/Debug
AeroMap/Release
AeroMap/GeneratedFiles

Lib/CppUnitLite/x64
Lib/gdal-3.2.1/x64
Lib/geos-3.13.0/geos.dir
Lib/geos-3.13.0/geos_c.dir
Lib/geos-3.13.0/Lib
Lib/geos-3.13.0/src/deps/ryu.dir/Debug
Lib/jpeg-9a/x64
Lib/laslib/x64
Lib/laszip/x64
Lib/libpng-1.6.20/x64
Lib/pdal-2.3/x64
Lib/proj-7.1.1/build_vs14_x64/src/x64
Lib/tiff-4.7.0/libtiff/Debug
Lib/tiff-4.7.0/libtiff/tiff.dir
Lib/zlib/x64
 
UnitTests/TestBmpFile/x64
UnitTests/TestCalc/x64
UnitTests/TestCamera/x64
UnitTests/TestDateTime/x64
UnitTests/TestGcpFile/x64
UnitTests/TestGdal/x64
UnitTests/TestGis/x64
UnitTests/TestLasFile/x64
UnitTests/TestLasLib/x64
UnitTests/TestLasZip/x64
UnitTests/TestLibTiff/x64
UnitTests/TestModel_3DS/x64
UnitTests/TestModel_AC/x64
UnitTests/TestModel_OBJ/x64
UnitTests/TestModel_STL/x64
UnitTests/TestModel_X/x64
UnitTests/TestMulti/Debug
UnitTests/TestMulti/x64
UnitTests/TestPdal/x64
UnitTests/TestPhoto/x64
UnitTests/TestPngFile/x64
UnitTests/TestProj/x64
UnitTests/TestRasterFile/x64
UnitTests/TestShapeFile/x64
UnitTests/TestShots/x64
UnitTests/TestSvgFile/x64
UnitTests/TestTiffFile/x64
UnitTests/TestXString/x64

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
#*.exe
*.out
*.app